html, body {
    height: 100%;
    width: 99.5%;
    background-color: black;
  }
  
  .one{
    color: whitesmoke;
    background-color: darkslategrey;
    border: 4px groove grey;
    border-radius: 32px;
    text-align: center;
    font-family: Nabla;
  }
  
  .rule{
    color: black;
    background-color: black;
    text-align: center;
  }
  
  p{
    background-color: darkslategrey;
    color: whitesmoke;
  }
  
  .him{
    color: black;
    background-color: black;
  }
  
  a{
    color: black;
  }
  
  h1{
    color: whitesmoke;
    background-color: darkslategrey;
    border: 4px groove grey;
    border-radius: 32px;
    text-align: center;
  }
  
  h2{
    background-color: darkslategrey;
    color: whitesmoke;
    text-align: center;
  }
  
  .drawer{
    color: #9A2A2A;
  }
  
  .loink{
    color: whitesmoke;
  }
  
  .alarm{
    text-shadow: 2px 2px #9A2A2A;
  }
  
  .safe{
    text-shadow: 2px 2px green;
  }
  
  .warning{
    color: #9A2A2A;
    text-align: center;
    text-shadow: 2px 2px #722F37;
  }
  
  .grey{
    color: darkslategrey;
  }
  
  .notes{
    color: #deeddd;
  }
  
  #hidden{
    color: darkslategrey;
    text-decoration: inherit;
  }
  
  h3{
    background-color: #203636;
    color: whitesmoke;
    text-align: center;
  }
  
  #trueHidden{
    color: inherit;
    text-decoration: inherit;
  }
  
  .notIt{
    background-color: #170101;
  }
  
  .title{
    font-size: 22px;
    text-decoration: underline;
  }
  
  h4{
    background-color: darkslategrey;
    color: whitesmoke;
  }
  
  .hiddenR{
    color: black;
  }
  
  .pCenter{
    color: whitesmoke;
    background-color: darkslategrey;
    text-align: center;
  }
  
  .history{
    color: whitesmoke;
    background-color: darkslategrey;
    text-align: center;
  }
  
  .anomaly{
    color: whitesmoke;
    background-color: darkslategrey;
    text-decoration: underline;
  }
  
  .pUnderline{
    color: whitesmoke;
    background-color: darkslategrey;
    text-decoration: underline;
  }
  
  .whiteT p{
    color: whitesmoke;
    background-color: black;
  }
  
  .strikeThru{
    color: whitesmoke;
    text-decoration: line-through;
  }
  
  .ooverline{
    color: whitesmoke;
    background-color: darkslategrey;
    text-decoration: overline;
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
  }
  
  .noColor{
    text-align: center;
    background-color: black;
  }
  
  #Space{
    word-spacing: 50px;
  }
  
  table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
    
  input[type="button"] {
    width: 100%;
    padding: 10px 20px;
    background-color: black;
    color: whitesmoke;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }
    
  input[type="text"] {
    padding: 10px 15px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
  
  }